# Visual Studio Code
.vscode/
*.code-workspace

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfstate*
*.tfplan

# Terraform Backend
.tf/
*.tfstate.backup
*.tfstate.backup.*
*.tfstate.terraform
*.tfstate.terraform.*
*.tfstate.backup.terraform
*.tfstate.backup.terraform.*